body {
    font-family: sans-serif;
    margin: 0;
    background-color: #111111;
  }

.text-box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 10vw;
    text-shadow: 4px 4px 0px #922410;
    mix-blend-mode: screen;
    animation: fadeIn 2.5s linear forwards;
}  

.pacman {
    position: absolute;
    width: 50px;
    height: 50px;
  }

  .hidden {
    display: none;
  }
  
  .pacman:focus {
    outline: none;
  }
  
  .pacman-right {
  
  }
  
  .pacman-left {
    transform: rotateY(180deg);
  }
  
  .pacman-up {
    transform: rotate(-90deg);
  }
  
  .pacman-down {
    transform: rotate(90deg);
  }